<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<div class="container">
<form th:action method="post">
  <div class="py-5 text-center">
    <h2>비밀번호 변경</h2>
  </div>
  <div>
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password"
          class="form-control"
           th:errorclass="field-error">
  </div>
  <div>
    <label for="confirmPassword">비밀번호 확인</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
    <div class="field-error" id="passwordMatchError" style="color: red;"></div>
  </div>
  <button class="w-100 btn btn-primary btn-lg" id="password_submit" type="submit" disabled>비밀번호 변경</button>
</form>
</div>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  function handlePasswordInput() {
    var password = $("#password").val();
    var confirmPassword = $("#confirmPassword").val();
    var errorDiv = $("#passwordMatchError");

    if (password === confirmPassword) {
      errorDiv.text('');
      $("#password_submit").prop("disabled", false);
    } else {
      errorDiv.text('비밀번호가 일치하지 않습니다');
      $("#password_submit").prop("disabled", true);
    }
  }
  $("#confirmPassword").on("input", handlePasswordInput);

</script>
</body>
</html>