<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.updateContent}">수정</h2>

    </div>

    <form action="member.html" th:action  th:object="${member}" method="post">
        <div>
            <label for="loginId" th:text="#{label.member.loginId}">loginId</label>
            <input type="text" id="loginId" th:field="*{loginId}" readonly>
        </div>
        <div>
            <label for="name" th:text="#{label.member.name}">content</label>
            <input type="text" id="name" th:field="*{name}" th:errorclass="field-error" class="form-control" placeholder="내용을 입력하세요">
            <div class="field-error" th:errors="*{name}">
                내용 오류
            </div>
        </div>
        <div>
            <label for="birth" th:text="#{label.member.birth}">birth</label>
            <input type="date" id="birth" th:field="*{birth}" th:errorclass="field-error" class="form-control" placeholder="내용을 입력하세요">
            <div class="field-error" th:errors="*{birth}">
                내용 오류
            </div>
        </div>
        <div>
            <label for="address" th:text="#{label.member.address}">address</label>
            <input type="text" id="address" th:field="*{address}" th:errorclass="field-error" class="form-control" placeholder="내용을 입력하세요">
            <div class="field-error" th:errors="*{address}">
                내용 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='post.html'"
                        th:onclick="|location.href='@{/members/{id}(id=${member.id})}'|"
                        type="button" th:text="#{button.cancel.edit}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>