<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2 th:text="#{page.member}">회원</h2>
  </div>
  <hr class="my-4">
  <div>
    <div>
      <label for="loginId" th:text="#{label.member.loginId}">작성자 id</label>
      <input type="text" id="loginId" name="loginId" class="form-control" value="10000" th:value="${member.loginId}" readonly>
    </div>
    <div>
      <label for="name" th:text="#{label.member.name}">이름</label>
      <input type="text" id="name" name="name" class="form-control" value="10000" th:value="${member.name}" readonly>
    </div>
    <div>
      <label for="birth" th:text="#{label.member.birth}">생년월일</label>
      <input type="text" id="birth" name="birth" class="form-control" value="10000" th:value="${member.birth}" readonly>
    </div>
    <div>
      <label for="gender" th:text="#{label.member.gender}">성별</label>
      <input type="text" id="gender" name="gender" class="form-control" value="10000" th:value="${member.gender}" readonly>
    </div>
    <div>
      <label for="address" th:text="#{label.member.address}">주소</label>
      <input type="text" id="address" name="address" class="form-control" value="10000" th:value="${member.address}" readonly>
    </div>

<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th th:text="#{label.post.postNum}">번호</th>-->
<!--        <th th:text="#{label.post.postName}">제목</th>-->
<!--        <th th:text="#{label.post.commentCnt}">댓글 수</th>-->
<!--        <th th:text="#{label.post.name}">작성자</th>-->
<!--        <th th:text="#{label.post.readCount}">조회수</th>-->
<!--        <th th:text="#{label.post.localDateTime}">작성일</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr th:each="post : ${posts}">-->
<!--        <td th:text="${post.id}">글 번호</td>-->
<!--        <td><a href="post.html" th:href="@{/posts/{postNum}(postNum=${post.id})}" th:text="${post.postName}">글 제목</a></td>-->
<!--        <td th:text="${post.comments.size()}">댓글 수</td>-->
<!--        <td th:text="${post.member.name}">작성자 id</td>-->
<!--        <td th:text="${post.readCount}">조회수</td>-->
<!--        <td th:text="${{post.localDateTime}}">작성일자</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
  </div>
</div>
</body>
</html>