<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.members}">목록</h2>
    </div>
    <form th:action="@{'/members/find'}" method="get">
        <input id="username" type="text" th:name="username" placeholder="검색할 이름을 입력하세요">
        <input type="submit" value="제출하기">
    </form>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.member.name}">이름</th>
                <th th:text="#{label.member.birth}">생년월일</th>
                <th th:text="#{label.member.gender}">성별</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a href="member.html" th:href="@{/members/{memberId}(memberId=${member.id})}" th:text="${member.name}">이름</a></td>
                <td th:text="${member.birth}">생년월일</td>
                <td th:text="${member.gender}">성별</td>
            </tr>
            </tbody>
        </table>
        <th:block th:each="page:${#numbers.sequence(0,(members.getTotalPages()-1 ge 0 ? members.getTotalPages()-1 : 0))}">
            <a th:if="${page != pageable.getPageNumber()}" th:href="@{/members/{memberId}/find(memberId=${id},username=${username},page=${page})}" th:text ="${page}+1"></a>
            <strong th:if="${page== pageable.getPageNumber()}" th:text ="${page}+1" style="color:red"></strong>
        </th:block>
    </div>
    <div>
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='posts.html'"
                th:onclick="|location.href='@{/members/{memberId}(memberId=${id})}'|"
                type="button" th:text="#{button.member.name}">취소</button>
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='posts.html'"
                th:onclick="|location.href='@{/}'|"
                type="button" th:text="메인으로">취소</button>
    </div>
</div> <!-- /container -->

</body>
</html>