<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2 th:text="#{page.member}">회원</h2>
  </div>
  <form th:action="@{'/members/find'}" method="get">
   <input id="username" type="text" th:name="username" placeholder="검색할 이름을 입력하세요">
   <input type="submit" value="제출하기">
  </form>
  <h4 th:if="${status}" th:style="'color:red'" th:text="'회원을 수정/삭제 할 수 있는 권한이 없습니다.'"></h4>
  <hr class="my-4">
  <div>
    <div>
      <label for="loginId" th:text="#{label.member.loginId}">작성자 id</label>
      <input type="text" id="loginId" name="loginId" class="form-control" value="10000" th:value="${member.loginId}" readonly>
    </div>
    <div>
      <label for="name" th:text="#{label.member.name}">이름</label>
      <input type="text" id="name" name="name" class="form-control" value="10000" th:value="${member.name}" readonly>
    </div>
    <div>
      <label for="email" th:text="#{label.member.email}">이메일</label>
      <input type="text" id="email" name="email" class="form-control" value="10000" th:value="${member.email}" readonly>
    </div>
    <div>
      <label for="birth" th:text="#{label.member.birth}">생년월일</label>
      <input type="text" id="birth" name="birth" class="form-control" value="10000" th:value="${member.birth}" readonly>
    </div>
    <div>
      <label for="gender" th:text="#{label.member.gender}">성별</label>
      <input type="text" id="gender" name="gender" class="form-control" value="10000" th:value="${member.gender}" readonly>
    </div>
    <div>
      <label for="address" th:text="#{label.member.address}">주소</label>
      <input type="text" id="address" name="address" class="form-control" value="10000" th:value="${member.address.getFullAddress()}" readonly>
    </div>
    <div th:if="${flag}"><button class="w-100 btn btn-secondary btn-lg"onclick="location.href='posts.html'"th:onclick="|location.href='@{/members/{memberId}/update(memberId=${member.id})}'|"type="button">회원수정</button></div>
    <div th:if="${flag}"><button class="w-100 btn btn-secondary btn-lg"onclick="location.href='posts.html'"th:onclick="|location.href='@{/members/{memberId}/delete(memberId=${member.id})}'|"type="button">회원탈퇴</button></div>

    <table class="table">
      <caption>내가 쓴 글</caption>
      <thead>
      <tr>
        <th th:text="#{label.post.postNum}">번호</th>
        <th th:text="#{label.post.postName}">제목</th>
        <th th:text="#{label.post.commentCnt}">댓글 수</th>
        <th th:text="#{label.post.readCount}">조회수</th>
        <th th:text="#{label.post.localDateTime}">작성일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${posts}">
        <td th:text="${post.postNum}">글 번호</td>
        <td><a href="post.html" th:href="@{/posts/{postNum}(postNum=${post.id})}" th:text="${post.postName}">글 제목</a></td>
        <td th:text="${post.commentSize}">댓글 수</td>
        <td th:text="${post.readCount}">조회수</td>
        <td th:text="${{post.localDateTime}}">작성일자</td>
      </tr>
      <th:block th:each="page:${#numbers.sequence(0,(posts.getTotalPages()-1 ge 0 ? posts.getTotalPages()-1 : 0))}">
        <a th:if="${page != postsPageable.getPageNumber()}" th:href="@{/members/{memberId}(memberId=${member.id},post_page=${page})}" th:text ="${page}+1"></a>
        <strong th:if="${page==postsPageable.getPageNumber()}" th:text ="${page}+1" style="color:red"></strong>
      </th:block>
      </tbody>
    </table>
    <table class="table">
      <caption>내가 쓴 댓글</caption>
      <thead>
      <tr>
        <th th:text="#{label.post.postName}">글 제목</th>
        <th th:text="#{label.comment.content}">댓글 내용</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="comment : ${comments}">
        <td><a href="post.html" th:href="@{/posts/{postNum}(postNum=${comment.postId})}" th:text="${comment.postName}">글 제목</a></td>
        <td th:text="${comment.content}">댓글 내용</td>
      </tr>
      <th:block th:each="page:${#numbers.sequence(0,(comments.getTotalPages()-1 ge 0 ? comments.getTotalPages()-1 : 0))}">
        <a th:if="${page != commentsPageable.getPageNumber()}" th:href="@{/members/{memberId}/{username}(memberId=${member.id},comment_page=${page})}" th:text ="${page}+1"></a>
        <strong th:if="${page==commentsPageable.getPageNumber()}" th:text ="${page}+1" style="color:red"></strong>
      </th:block>
      </tbody>
    </table>
  </div>
  </div>

</div>
</body>
</html>