<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.posts}">목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/posts/add}'|"
                    type="button" th:text="#{page.addPage}">등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.post.postNum}">번호</th>
                <th th:text="#{label.post.postName}">제목</th>
                <th th:text="#{label.post.commentCnt}">댓글 수</th>
                <th th:text="#{label.post.name}">작성자</th>
                <th th:text="#{label.post.readCount}">조회수</th>
                <th th:text="#{label.post.localDateTime}">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">글 번호</td>
                <td><a href="post.html" th:href="@{/posts/{postNum}(postNum=${post.id})}" th:text="${post.postName}">글 제목</a></td>
                <td th:text="${post.comments.size()}">댓글 수</td>
                <td th:text="${post.member.name}">작성자 id</td>
                <td th:text="${post.readCount}">조회수</td>
                <td th:text="${{post.localDateTime}}">작성일자</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form name = "search-form" th:object="${postSearch}" autocomplete="off">
            <select name="type">
                <option selected value="">검색 내용 선택</option>
                <option value="postName"  th:text="#{label.post.postName}">제목</option>
                <option value="content"  th:text="#{label.post.content}">내용</option>
                <option value="name" th:text="#{label.post.name}">작성자</option>
            </select>
            <input th:field="*{searchContent}" type="text" name="keyword" value="">
            <button type="submit" class="btn btn-secondary mb-2">검색</button>
        </form>
    </div>
    <div>
        <form th:action="@{/logout}" method="post">
            <button class="w-100 btn btn-dark btn-lg" type="submit">
                로그아웃
            </button>
        </form>
    </div>
</div> <!-- /container -->

</body>
</html>