<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.post}">글 상세</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/posts/{id}/edit(id=${post.id})}'|"
                    type="button" th:text="#{page.updateContent}">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='posts.html'"
                    th:onclick="|location.href='@{/posts}'|"
                    type="button" th:text="#{button.cancel}">목록으로</button>
        </div>
        <div class="col">
            <form action="post.html" th:action="@{'/posts/{id}/delete'(id=${post.id})}" method="post">
                <div>
                    <form>
                        <button class="w-100 btn btn-secondary btn-lg" type="submit" th:text="#{button.delete}">삭제</button>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <hr class="my-4">


    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
    <h4 th:if="${status2}" th:style="'color:red'" th:text="'글을 수정/삭제 할 수 있는 권한이 없습니다.'"></h4>
    <div>
        <label for="postName" th:text="#{label.post.postName}">postName</label>
        <input type="text" id="postName" th:field="*{post.postName}" class="form-control"  readonly>
    </div>
    <div>
        <label for="name" th:text="#{label.post.name}">작성자 id</label>
        <input type="text" id="name" name="name" class="form-control" value="10000" th:value="${post.memberName}" readonly>
    </div>
    <div>
        <label for="files" th:text="첨부파일">파일</label>
        <a th:if = "${file}" id=files th:href="|/posts/attach/${file.id}|" th:text="${file.uploadFileName}"/>
    </div>
    <div>
    </div>
    <div>
        <label for="content" th:text="#{label.post.content}">내용</label>
        <input type="text" id="content" name="quantity" class="form-control" value="10"  th:style="${'width:600px; height:200px'}" th:value="${post.content}" readonly>
    </div>

    <hr class="my-4">
    <h6>댓글</h6>
    <form action="post.html" th:action="@{'/posts/{id}/comment'(id=${post.id})}" th:object="${commentDto}" method="post">
        <div>
            <form>
                <input type="text" id="comment" th:field="*{content}"class="form-control" th:errorclass="field-error" placeholder="댓글을 입력하세요">
                <button class="w-100 btn btn-secondary btn-lg"
                        type="submit">댓글 작성</button>
                <div class="field-error" th:errors="*{content}">
                    댓글 오류
                </div>
            </form>
        </div>
    </form>
    <hr class="my-4">
    <div>
        <table class="table">
            <tr>
                <th>댓글 번호</th>
                <th>내용</th>
                <th>작성자 id</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.commentNum}">댓글 번호</td>
                <td class="comment-content" th:text="${comment.content}" ></td>
                <td th:text="${comment.memberName}">작성자 id</td>
                <td><button class="edit-button" id="edit-button" th:data-comment-id="${comment.id}">수정</button> </td>
                <td><button class="w-100 h-25 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/posts/comment/{commentId}/delete(commentId=${comment.id})}'|"
                    type="submit">삭제</button></td>
            </tr>
            <tr>
                <td colspan="5">
                    댓글 수정
                    <form class="edit-comment-form" style="display: none;">
                        <input type="hidden" class="edit-comment-id">
                        <input type="text" class="edit-comment-text">
                        <button class="save-button" type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <th:block th:each="page:${#numbers.sequence(0,(comments.getTotalPages()-1 ge 0 ? comments.getTotalPages()-1 : 0))}">
                <a th:if="${page != commentsPageable.getPageNumber()}" th:href="@{/posts/{postId}(postId=${post.id},comment_page=${page})}" th:text ="${page}+1"></a>
                <strong th:if="${page==commentsPageable.getPageNumber()}" th:text ="${page}+1" style="color:red"></strong>
            </th:block>
        </table>
    </div>
</div> <!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".edit-button").click(function () {
            var commentId = $(this).data("comment-id");
            var currentComment = $(this).closest("tr").find(".comment-content").text();
            console.log(commentId)
            console.log(currentComment)
            $(".edit-comment-text").val(currentComment);
            $(".edit-comment-id").val(commentId);

            $(".edit-comment-form").show();
        });

        $(".edit-comment-form").submit(function (event) {
            event.preventDefault();

            var commentId = $(".edit-comment-id").val();
            var updatedComment = $(".edit-comment-text").val();

            $.ajax({
                url: "/posts/updateComment", // Mapping to your Spring controller
                method: "POST",
                data: {
                    commentId: commentId,
                    updatedComment: updatedComment
                },
                success: function (response) {
                    $("#comment-" + commentId).text(updatedComment);
                    $(".edit-comment-form").hide();
                },
                error: function (xhr, status, error) {
                    console.error("Error updating comment:", error);
                }
            });
        });
    });
</script>
</body>
</html>